{% extends 'base.html.twig' %}

{% block title %}Группы{% endblock %}

{% block body %}
    <div class="row ">
        <div class="col-sm align-self-start ">
            <h1 class="text-center">Учебные группы</h1>
        </div>
    </div>
    <div class="row">
        {% for group in pagination %}
            <div class="col-sm-3">
                <div class="card bg-light mb-3">
                    <div class="card-header">{{ group.name }}</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ group.teacher.getName() }}</li>
                            <li class="list-group-item">{{ group.discipline.getName() }}</li>
                        </ul>
                        <a href="{{ path('groups_show', {'id': group.getId()} ) }}">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-sm">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}