{% extends 'base.html.twig' %}

{% block title %}Группа {{ group.getName() }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm">
            <h1>Группа {{ group.getName() }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th class="text-center" scope="col">Имя</th>
                    <th class="text-center" scope="col">Оплата</th>
                    <th class="text-center" scope="col">Договор</th>
                    {% set prevDate = '' %}
                    {% set arrayDate = [] %}
                    {% for item in note %}
                        {% if prevDate != item.updatedAt|date("d.m.Y") %}
                            <th scope="col">
                                {{ item.updatedAt|date("d.m.Y") }}
                                {% set prevDate = item.updatedAt|date("d.m.Y") %}
                                {% set arrayDate = arrayDate|merge([item.updatedAt|date("d.m.Y")]) %}
                                <br>
                                <a href="#" class="fa fa-edit lesson-edit"></a>
                                <a href="#" class="fa fa-trash lesson-delete"></a>
                            </th>
                        {% endif %}
                    {% endfor %}
                    <th scope="col">
                        <button class="btn btn-info btn-block fa fa-plus-square" id="button-lesson-date"></button>
                        <input type="date" id="lesson-date" class="form-control lesson-date d-none">
                        <button class="btn btn-success btn-block d-none" id="button-lesson-save">Сохранить</button>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for learner in  learners %}
                    {% set lsg = null %}
                    <tr>
                        <td>{{ learner.getName() }}</td>
                        <td class="text-center">
                            <input type="checkbox" {{ learner.getPayment()?'checked' }}>
                        </td>
                        <td class="text-center">
                            <input type="checkbox" {{ learner.getContract()?'checked="checked"' }}>
                        </td>
                        {% for i in 0..arrayDate|length - 1 %}
                            <td class="text-center">
                                {% set current = loop.index0 %}
                                {% set isAdd = false %}
                                {% for item in note %}
                                    {% if
                                        item.learnerStudyGroup.learner.id == learner.id and
                                        item.updatedAt|date("d.m.Y") == arrayDate[current] %}
                                        {% set lsg = item.learnerStudyGroup.id %}
                                        <input data-id="{{ item.getId() }}" type="checkbox"
                                               disabled="disabled" {{ item.getNote()?'checked="checked"' }}>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                        <td class="new-lesson-td text-center">
                            <input
                                    data-lsg="{{ lsg }}"
                                    class="d-none"
                                    type="checkbox"
                            >
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('groups') }}
    <script>
        var config = {
            "csrf": "{{ csrf }}",
            "saveUrl": "{{ path('group_note_save') }}",
            "deleteUrl": "{{ path('group_note_delete') }}",
            "baseUrl": "{{ path('groups_show', {'id': group.getId()}) }}"
        };
    </script>
{% endblock %}