{% extends 'base.html.twig' %}

{% block title %}Помошник учителя{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Помошник учителя</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <img src="https://via.placeholder.com/150x150" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Поможет с оповещением слушателей</p>
                    <a href="{{ path('messenger') }}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <img src="https://via.placeholder.com/150x150" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Контроль посещаймости</p>
                    <a href="{{ path('groups') }}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card">
                <img src="https://via.placeholder.com/150x150" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Поможет с сертификатами</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <img src="https://via.placeholder.com/150x150" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Поможет с приказами на зачисление/отчисление</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}