{% extends 'base.html.twig' %}

{% block title %}Messenger{% endblock %}
{% block body %}
    <div class="row">
        <div class="col">
            <h1>Messenger</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                {% for messenger in messengers %}
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input"
                                    {% if messenger.name == 'VK' %}
                                        {% if readyMessengers.VK %}
                                            checked="checked"
                                        {% else %}
                                            disabled="disabled"
                                        {% endif %}
                                    {% else %}
                                        checked="checked"
                                    {% endif %}
                                   id="custom-input-{{ loop.index0 }}">
                            <label class="custom-control-label"
                                   for="custom-input-{{ loop.index0 }}">{{ messenger.name }}
                                {{ messenger.image|raw }}
                                {% if messenger.name == 'VK' and not readyMessengers.VK %}
                                    <a href="{{ path('vk_auth') }}" class="btn btn-info">Авторизация</a>
                                {% endif %}
                            </label>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {{ form_start(form) }}
            {{ form_row(form.text, {'attr':{'class':'form-control','rows':6}, 'label':'Message'}) }}
            <input type="submit" class="btn btn-success">
            {{ form_end(form) }}
            <div class="form-group">
            </div>
        </div>
        <div class="col-md-6">
            {% for message in pagination %}
                <div class="alert alert-light" role="alert">
                    <p>{{ message.text }}
                        <small>{{ message.createdAt|date("d.m.Y") }}</small>
                    </p>
                </div>
            {% endfor %}
            <div>
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}